page-home {
    .header .toolbar-title{
        text-align: center;
        color: lightblue !important;
    }

    .toolbar {
        .toolbar-background{
            background-color: coral ;
        }
    }

}
